@media screen and (min-width: 577px) and (max-width: 912px) {
    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    h4 {
        font-size: 1.75rem;
    }

    h5 {
        font-size: 1.25rem;
        line-height: 2rem;
    }

    h6 {
        font-size: 1rem;
    }

    p {
        font-size: 0.95rem;
        line-height: 1.4rem;
    }

    button {
        width: 150px;
        height: 50px;
        margin-top: 1rem;
        font-size: 18px;
    }

    /* Header styles */
    header {
        padding: 30px;
    }

    nav ul {
        gap: 2rem;
    }

    .header-content {
        padding: 0px;
        margin-top: 2rem;
    }

    header img {
        margin-top: 25px;
    }

    /* main styles */
    main {
        gap: 50px;
        margin: 50px 50px;
    }

    /* Section 1 styles */
    .sec1 {
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
    }

    .grid-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.25rem;
    }

    .grid-items img {
        width: 100%;
    }

    .sec1-content {
        text-align: center;
        max-width: 750px;
    }

    /* Section 2 styles */
    .sec2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    .card-content {
        width: 100%;
    }

    .sec2-title {
        padding-left: 20px;
    }

    .card {
        gap: 0.5rem;
        padding: 1.25rem;
        height: auto;
    }

    .sec2 img {
        width: 100%;
        margin-left: 0;
    }

    .experience {
        width: auto;
        height: auto;
        padding: 1.875rem 1.25rem;
        margin: 1rem 30% 0 30%;
        position: unset;
    }

    .experience h2 {
        font-size: 2rem;
    }

    .experience h4 {
        font-size: 1.25rem;
    }

    /* section-3 styles */
    .sec3 {
        gap: 1.5rem;
        align-items: center;
    }

    .sec3-contents {
        text-align: center;
    }

    .sec3-contents p {
        width: 100%;
    }

    .sec3-cards-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .sec3-cards {
        width: 160px; 
        padding: 2rem;
      }
    
      .badge {
        width: 40px; 
        height: 40px;
      }
}