@media screen and (min-width: 577px) and (max-width: 912px) {
    button {
        width: 150px;
        height: 50px;
        margin-top: 20px;
        font-size: 18px;
    }

    /* Header styles */
    header {
        padding: 30px;
    }

    /* nav {
      flex-direction: column;
    } */

    nav ul {
        /* flex-direction: column; */
        gap: 25px;
    }

    .header-content {
        padding: 0px;
    }

    header img {
        margin-top: 25px;
    }

    /* main styles */
    main {
        gap: 50px;
        margin: 50px 50px;
    }

    /* Section 1 styles */
    .sec1 {
        display: flex;
        flex-direction: column-reverse;
        padding: 0px;
    }

    .grid-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .grid-items img {
        width: 100%;
    }

    .sec1-content {
        text-align: center;
        max-width: 750px;
    }
}