/* shared styles */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

* {
  font-family: "Work Sans", sans-serif;
  color: #131313;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 3rem;
  font-weight: 700;
}

h4 {
  font-size: 2rem;
  font-weight: 600;
}

h5 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.5rem;
}

h6 {
  font-size: 1.25rem;
  font-weight: 600;
}

p {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 1rem 0;
}

button {
  width: 180px;
  height: 64px;
  margin-top: 1rem;
  border: none;
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  transition: 0.3s;
}

button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #ff900e;
  border: 1px solid #ff900e;
  transform: translate(2px, 1px);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

/* Header styles */

header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 150px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

nav ul li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #424242;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5rem;
  transition: 0.2s;
}

nav a:hover {
  text-decoration: underline;
}

.header-content {
  margin-top: 4.5rem;
  padding: 0px 190px;
  text-align: center;
}

header img {
  width: 100%;
  margin-top: 50px;
}

/* main styles */

main {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin: 100px 150px;
}

/* Section 1 */
.sec1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding: 0px 50px;
}

.grid-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.grid-items img {
  width: 100%;
}

.sec1-content {
  max-width: 537px;
}

.sec1 .sec1-content .Quick-List-span {
  color: #727272;
}

.sec1 .sec1-content .Feature-span {
  color: #ff900e;
}

/* Section 2 */
.sec2 {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  gap: 5rem;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 525px;
}

.sec2-title {
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 115px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 30px;
}

.card p {
  margin: 0;
}

.img-experience-container {
  position: relative;
}

.sec2 img {
  width: 100%;
  flex-shrink: 0;
  /* margin-left: 4rem; */
}

.experience {
  width: 250px;
  height: 115px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #ff900e;
  text-align: center;
  padding: 45px 40px;
  position: absolute;
  bottom: 0rem;
  left: -2.5rem;
}

.experience h2,
.experience h4 {
  color: #fff;
}

/* section-3 styles */
.sec3 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.sec3-cards-container {
  display: flex;
  justify-content: space-around;
}

.sec3-contents p {
  width: 542px;
}

.sec3-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  padding: 1rem;
  /* card */
  width: 180px;
  height: auto;
  flex-shrink: 0;
  flex-wrap: wrap;
  border-radius: 8px;
  border: 1px solid #FF900E;
  padding: 3rem 2rem;
}

.sec3-cards p {
  margin: 0;
}


.badge {
  width: 45.221px;
  height: 45.221px;
  flex-shrink: 0;
}

/* section-4 styles */
.sec4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.sec4-content {
  text-align: center;
  padding: 0 200px;
}

.sec4-sponsors {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.sec4-sponsors img {
  filter: grayscale(100%);
}

/* footer styles */
.footer {
  border-radius: 8px;
  background: #FFF4E7;
  padding: 40px;
  margin: 0 150px;
}
.footer h6{
  text-align: center;
  color: #424242;
}